PL/SQL code for local procedure to return multiple values through parameters:

In [ ]:
CREATE OR REPLACE PROCEDURE arithmetic_operations(
    num1 IN NUMBER, 
    num2 IN NUMBER, 
    sum OUT NUMBER, 
    diff OUT NUMBER, 
    prod OUT NUMBER, 
    quotient OUT NUMBER) IS
BEGIN
    sum := num1 + num2;
    diff := num1 - num2;
    prod := num1 * num2;
    quotient := num1 / num2;
END;

PL/SQL code for local procedure to raise salary and update it to the database:

In [ ]:
CREATE OR REPLACE PROCEDURE raise_salary(
    empid IN NUMBER, 
    bonus IN NUMBER) IS
    current_salary NUMBER;
BEGIN
    SELECT salary INTO current_salary FROM emp WHERE eno = empid;
    UPDATE emp SET salary = current_salary + bonus WHERE eno = empid;
    COMMIT;
    DBMS_OUTPUT.PUT_LINE('Salary of employee ' || empid || ' has been raised by ' || bonus);
END;

PL/SQL code for stored procedure to delete employee by employee number:

In [ ]:
CREATE OR REPLACE PROCEDURE fire_employee(
    empid IN NUMBER) IS
BEGIN
    DELETE FROM emp WHERE eno = empid;
    COMMIT;
    DBMS_OUTPUT.PUT_LINE('Employee ' || empid || ' has been fired');
END;

PL/SQL code for local function to return total number of employees in EMP table:

In [ ]:
CREATE OR REPLACE FUNCTION get_employee_count RETURN NUMBER IS
    employee_count NUMBER;
BEGIN
    SELECT COUNT(*) INTO employee_count FROM emp;
    RETURN employee_count;
END;

PL/SQL code for stored function to add two numbers:

In [ ]:
CREATE OR REPLACE FUNCTION add_numbers(
    num1 IN NUMBER, 
    num2 IN NUMBER) RETURN NUMBER IS
    result NUMBER;
BEGIN
    result := num1 + num2;
    RETURN result;
END;

PL/SQL code for stored function to return the number of records updated by UPDATE statement:

In [ ]:
CREATE OR REPLACE FUNCTION get_update_count RETURN NUMBER IS
    update_count NUMBER;
BEGIN
    UPDATE emp SET salary = salary + 100 WHERE eno = 100;
    update_count := SQL%ROWCOUNT;
    RETURN update_count;
END;

PL/SQL code for trigger to convert ENAME column values to uppercase:

In [ ]:
CREATE OR REPLACE TRIGGER convert_ename_to_uppercase
BEFORE INSERT OR UPDATE ON emp
FOR EACH ROW
BEGIN
    :NEW.ename := UPPER(:NEW.ename);
END;

PL/SQL code for trigger to show old and new values of ENAME after every update:

In [ ]:
CREATE OR REPLACE TRIGGER show_old_new_ename
AFTER UPDATE ON emp
FOR EACH ROW
BEGIN
    DBMS_OUTPUT.PUT_LINE('Old value of ENAME: ' || :OLD.ename || ', New value of ENAME: ' || :NEW.ename);
END;

PL/SQL code for trigger to prevent operations on EMP table on Sunday:

In [ ]:
CREATE OR REPLACE TRIGGER prevent_sunday_operations
BEFORE INSERT OR UPDATE OR DELETE ON emp
BEGIN
    IF TO_CHAR(SYSDATE, 'DAY') = 'SUNDAY' THEN
        RAISE_APPLICATION_ERROR(-20001, 'No operations allowed on Sundays');
    END IF;
END;

PL/SQL code for trigger to enforce commission to be less than or equal to salary:

In [ ]:
CREATE OR REPLACE TRIGGER commission_check
BEFORE INSERT OR UPDATE ON EMP
FOR EACH ROW
BEGIN
    IF :new.COMMISSION > :new.SALARY THEN
        RAISE_APPLICATION_ERROR(-20001, 'Commission cannot be greater than salary.');
    END IF;
END;
/

Trigger to implement the primary key constraint on column ENO of table EMP:

In [ ]:
CREATE OR REPLACE TRIGGER eno_pk
BEFORE INSERT ON EMP
FOR EACH ROW
DECLARE
  l_cnt NUMBER;
BEGIN
  SELECT COUNT(*)
  INTO l_cnt
  FROM EMP
  WHERE ENO = :NEW.ENO;
  IF l_cnt > 0 THEN
    RAISE_APPLICATION_ERROR(-20001, 'Duplicate ENO not allowed');
  END IF;
END;
/

Trigger to implement foreign key constraint on DEPTNO column of EMP table:

In [ ]:
CREATE OR REPLACE TRIGGER deptno_fk
BEFORE INSERT OR UPDATE ON EMP
FOR EACH ROW
DECLARE
  l_cnt NUMBER;
BEGIN
  SELECT COUNT(*)
  INTO l_cnt
  FROM DEPT
  WHERE DEPTNO = :NEW.DEPTNO;
  IF l_cnt = 0 THEN
    RAISE_APPLICATION_ERROR(-20001, 'Invalid DEPTNO');
  END IF;
END;
/